<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CB157.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CB184.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CB203.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CB227.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CB270.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CB278.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CB279.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B1E9FC81EAE0A4000F4227D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1EA02A1EAE0B3900F4227D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1EA08D1EAE0C8E00F4227D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B3462C41EA1F52C00B1E98F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B3463101EA1F7ED00B1E98F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B34635A1EA1F9AE00B1E98F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA586701E979C21007789DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BC5F7E21EA9FAFE0008D67D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
